body{
    font-family: comic, sans-serif, arial;
    line-height: 1.5;
    font-size: 25px;
    text-align: center;
}

header{
    background: rgb(0,255,255);
    border-bottom: orange 3px solid;
    color:red;
    min-height: 100px;
}

header a{
    color: blue;
    text-decoration: none;
    text-transform: uppercase;
}

nav{
    float:right;
    margin-top: 50px;
    
}

li{
    display: inline;
}
header h1{
    float:left;
    margin-top: 50px;
}

header nav{
    float:right;
}
header li{
    
    display: inline;
    margin: 10px;
    font-size: 20px;
    color: white;
}


#showcase{
    
    background: url(hot-dogs.jpg) no-repeat +150px -20px;
    min-height: 500px;
    color:black;
    
}

#showcase h1{
    color: blue;
}

#hotdogs{
    margin-top: 20px;
}
.hotdog{
    float: left;
    width: 30%;
    text-align: center;
}

.hotdog h3{
    color: blue;
}

footer{
    background-color: green;
    margin-top: 10px;
    border-top: lime 3px solid;
}

.container{
    width:80%;
    margin: auto;
    overflow: hidden;
}

header a:hover{
    
    color: lime;    
}
.highlight{
    color: lime;
}